<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="WIKITestSuite" verbose="5">
	<test name="WIKILoginTests" thread-count="4">
		<classes>
		<class name = "loginTests.TestLoginURLRedirect" />
		<class name = "loginTests.TestNegativeEditButtonScenario" />
		<class name = "loginTests.TestNegativeLoginCredentials" />
		<class name = "loginTests.TestPositiveLoginCredentials" />
		</classes>
	</test>
	<test name="WIKIEditingTests" thread-count="4">
		<classes>
		<class name = "editingTests.TestDiscardFunctionalityCheck" />
		<class name = "editingTests.TestEditCreateButton" />
		<class name = "editingTests.TestEditingInterfaceConfirmation" />
		<class name = "editingTests.TestSaveChangesPersistance" />
		</classes>
	</test>
</suite>